#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files, un-ignore, is targeted at tfvars files under example and boilerplate folders
*.tfvars
!**/example/*.tfvars
!**/example/**/*.tfvars
!**/boilerplate/*.tfvars
!**/boilerplate/**/*.tfvars

