#  Local .terraform and terragrunt "run time" directories
**/.terraform/*
**/.terragrunt*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files, un-ignore, is targeted at tfvars files under example folders
*.tfvars
!**/example/*.tfvars
!**/example/**/*.tfvars
